.login-logo{
  margin: 0;
}

.btn-login{
  background-color: #3498db;
  color: #fff;
}

.btn-login:hover{
  background-color: #2980b9;
  color: #fff;  
}

.login-box-msg{
  color: #444;  
  font-size: 25px;
}

.login-footer{
  font-size: 11px;
  text-align: center;
  margin-top: 15px;
}

